<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="fixed">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Rainforest", root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

    <ul class="right">
      <li class="active"><%= link_to "New product", new_product_path %></li>
      <% if current_user %>
        <li class="active"> <font color = white>Signed in as <%= current_user.name %></font>
        <li class="active"><%= link_to "Log out", session_path(current_user), :method => :delete %></li>
      <% else %>
        <li class="active"><%= link_to "Sign up", new_user_path %></li>
        <li class="active"><%= link_to "Log in", new_session_path %></li>
      <% end %>

<!--       <li class="has-dropdown">
        <a href="#">Right Button with Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li> -->
    </ul>

    <!-- Left Nav Section -->

  </section>
</nav>
  </div>

   <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
    <body>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>



      <%= yield %>
      <%= params %>
  </body>
</html>
